<!-- Button trigger modal -->
<div class="container">
    <div class="card">
        <div class="card heder">
            <h3 style="text-align: center;">Listado de Funcionarios</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <td>Id Funcionario</td>
                        <td>Nombre</td>
                        <td>Cedula</td>
                        <td>Salario</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fecha de Ingreso</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fun of funcionario" class="text-center">
                        <td id="funcionarioIdFuncionario">{{fun.idFuncionario}}</td>
                        <td id="funcionarioNombre">{{fun.nombre}}</td>
                        <td id="funcionarioCedula">{{fun.cedula}}</td>
                        <td id="funcionarioSalario">{{fun.salario}}</td>
                        <td id="funcionarioFechaNacimiento">{{fun.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                        <td id="funcionarioFechaIngreso">{{fun.fechaIngreso | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" id="funcionarioOpcionAumentarSalarioDropdown" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </button>
                                <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                                    <h4><a class="dropdown-item" id="funcionarioAumentarSalario" (click)="aumentarSalario(fun)" >Aumentar Salario</a></h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>