<div class="container" style="font: small-caption;">
    <div class="container-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h2 style="text-align: center">Listado dias Festivos</h2>
        </div>
        <br />
        <div class="card-body">
            <table class="table table-hover"  summary = "Listado de fechas agregadas como Dias festivos">
                <thead>
                    <tr class="text-center">
                        <th><strong>Dia</strong></th>
                        <th><strong>Fecha</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let diaFestivo of diaFestivo" class="text-center">
                        <td id="resultDia">{{diaFestivo.dia}}</td>
                        <td id="resultFecha">{{diaFestivo.fecha | date:'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>