<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Registro Funcionario</h3>
                <button type="button" class="close" id="cerrarModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form action="" [formGroup]="funcionarioForm" (ngSubmit)="registrar()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre"
                                formControlName="nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Cedula" id="cedula" name="cedula"
                                formControlName="cedula">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Salario" id="salario" name="salario"
                                formControlName="salario">
                        </div>
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento"
                                formControlName="fechaNacimiento">
                        </div>
                        <div class="form-group">
                            <label for="fechaIngreso">Fecha Ingreso:</label>
                            <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso"
                                formControlName="fechaIngreso">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
