<div class="modal fade" id="registrarDiaFestivoModal" tabindex="-1" role="dialog" aria-labelledby="registrarDiaFestivoModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="registrarDiaFestivoModal">Adicionar Dias Festivos</h3>
                <button type="button" class="close" id="cerrarModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form action="" [formGroup]="diaFestivoForm" (ngSubmit)="registrar()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="nombre del dia" id="dia" name="dia"
                                formControlName="dia">
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha"
                                formControlName="fecha">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="agregarDiaFestivo" class="btn btn-info">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>