<div class="container" style="margin-top: 2%;">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center">Solicitudes realizadas</h3>
        </div>
        <br />
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <td>Numero Solicitud</td>
                        <td>Fecha Solicitud</td>
                        <td>Descripcion</td>
                        <td>Estado</td>
                        <td>Respuesta</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of solicitudes" class="text-center">
                        <td>{{solicitud.numSolicitud}}</td>
                        <td>{{solicitud.fechaSolicitud | date:'dd-MM-yyyy'}}</td>
                        <td>{{solicitud.justificacion}}</td>
                        <td>{{solicitud.estado}}</td>
                        <td>{{solicitud.respuesta}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>