<div class="container">
    <div class="card">
        <div class="card heder">
           <h3 style="text-align: center;">Detalle Funcionario</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped" summary = "Listado de datos de un funcionario">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Fecha de Ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fun of funcionario" class="text-center">
                        <td id="funcionarioNombre">{{fun.nombre}}</td>
                        <td id="funcionarioCedula">{{fun.cedula}}</td>
                        <td id="funcionarioSalario">{{fun.salario}}</td>
                        <td id="funcionarioFechaNacimiento">{{fun.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                        <td id="funcionarioFechaIngreso">{{fun.fechaIngreso | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>